@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400&display=swap");
* {
  font-family: 'Balsamiq Sans', cursive;
  margin: 0;
  padding: 0; }

body {
  background-image: radial-gradient(circle farthest-corner at 22.4% 21.7%, #04bde4 0%, #0253b9 100.2%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }

h1 {
  color: white;
  font-size: 5vw; }
  @media only screen and (max-device-width: 768px) {
    h1 {
      font-size: 12vw; } }

h2, h3 {
  color: white;
  font-size: 2vw;
  margin-left: 1vw;
  font-weight: 00; }
  @media only screen and (max-device-width: 768px) {
    h2 h1, h2 h2, h3 h1, h3 h2 {
      font-size: 5vw; } }

.gameboard {
  height: 50vw;
  width: 50vw;
  border-radius: 50%;
  overflow: hidden;
  max-height: 40vw;
  max-width: 40vw; }
  @media only screen and (max-device-width: 768px) {
    .gameboard {
      height: 70vw;
      width: 70vw;
      max-height: 70vw;
      max-width: 70vw; } }

.color {
  width: 50%;
  height: 50%;
  display: inline-block; }

.left {
  float: left; }

.right {
  float: left; }

.girar {
  animation: spin 4s linear infinite; }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.celeste {
  background: #FE3267;
  cursor: pointer; }

.celeste.light {
  background: #ff658e; }

.violeta {
  background: #551BF9;
  cursor: pointer; }

.violeta.light {
  background: #7d51f7; }

.naranja {
  background: #FFD300;
  cursor: pointer; }

.naranja.light {
  background: #ffe667; }

.verde {
  background: #00DE89;
  cursor: pointer; }

.verde.light {
  background: #7affcc; }

.btn-start {
  width: 400px;
  height: 100px;
  background: white;
  border: none;
  color: #2c3e50;
  font-size: 2.5rem;
  position: absolute;
  border-radius: 10px;
  transition: all 400ms ease;
  cursor: pointer; }
  .btn-start:hover {
    transform: scale(0.9);
    background: rgba(255, 255, 255, 0.8); }
  @media only screen and (max-device-width: 768px) {
    .btn-start {
      width: 80vw;
      height: 200px;
      font-size: 4rem; } }

.sombra {
  box-shadow: -10px 10px 5px -8px rgba(0, 0, 0, 0.31); }

.pulse {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: pulse;
  animation-duration: 1s; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@media only screen and (max-device-width: 768px) {
  .swal-modal {
    width: 70%;
    height: 600px; }
  .swal-title {
    font-size: 5rem; }
  .swal-text {
    font-size: 3rem; }
  .swal-footer {
    text-align: center; }
  .swal-button {
    font-size: 3rem;
    padding: 3vw 5vw; } }

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }
  .navbar__contenedor {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0.6fr; }
    .navbar__contenedor img {
      width: 5vw; }
    .navbar__contenedor--logo {
      display: flex;
      align-items: center; }
    .navbar__contenedor--puntos {
      display: flex;
      align-items: center;
      justify-self: right; }
  @media only screen and (max-device-width: 768px) {
    .navbar__contenedor {
      padding-top: 10vw; }
      .navbar__contenedor img {
        width: 10vw; } }

.inicio {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: 9;
  background-image: radial-gradient(circle farthest-corner at 22.4% 21.7%, #04bde4 0%, #0253b9 100.2%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .inicio form {
    width: 30%;
    margin: 0 auto; }
    @media only screen and (max-device-width: 768px) {
      .inicio form {
        width: 70%; } }
  .inicio input, .inicio select {
    display: block;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 100%;
    margin-top: 3vw;
    padding-left: 1vw;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    outline: none; }
    @media only screen and (max-device-width: 768px) {
      .inicio input, .inicio select {
        padding-top: 3vw;
        padding-bottom: 3vw;
        padding-left: 3vw;
        margin-top: 6vw;
        font-size: 3rem; } }
  .inicio ::-webkit-input-placeholder {
    color: #4d4d4d; }
  .inicio select {
    color: #4d4d4d;
    width: 100%; }
  .inicio .empezar {
    width: 100%;
    margin-top: 3vw;
    border-radius: 10px;
    padding: 1vw 0;
    border: none;
    cursor: pointer;
    font-size: 2rem; }
    @media only screen and (max-device-width: 768px) {
      .inicio .empezar {
        margin-top: 6vw;
        font-size: 6rem; } }

.hide {
  display: none; }
