.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    &__contenedor {
        img {
            width: 5vw;
        } 
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 0.6fr;
        &--logo{
            display: flex;
            align-items: center;
        }
        &--puntos{            
            display: flex;
            align-items: center;
            justify-self: right;
        }
        
    }
    @media only screen and (max-device-width: 768px){
        &__contenedor {
            padding-top: 10vw;
            img {
                width: 10vw;
            }      
        }
    }
}